body{
    font-family: sans-serif;
}

h1{
    text-align: center;
    padding: 0;
    margin: 0;
}
.container{
    background-color: rgb(156, 243, 253);
    border: 2px solid black;
    text-align: center;
    justify-content: center;
    margin: 1rem auto;
    border-radius: 1rem;
    max-width: 60%;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);

   
}
div{
    margin: 1rem 1rem;
}
h1{
    font-size: 50px;
    padding: 2rem;
}

img{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 1rem;
    max-width: 100%;
    height: fit-content;
    width: 60vmax;
}

.lambretta{
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    
}

#liter{
    width: 5rem;
    font-size: 20px;
}

.bensin{
    font-size: 20px;
    
    
}

#Olja{
    font-size: 20px;
    
}

#procent{
    font-size: 20px;
    
}
button{
    font-size: 20px;
    
}
#result{
    font-size: 20px;
   
}
